@charset "UTF-8";
/*!
Theme Name: the_architect
Theme URI: http://underscores.me/
Author: Zarigani Design Office
Author URI: https://zarigani-design-office.com
Description: This theme is for start up architect
Version: 0.9.7
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: the_architect
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

the_architect is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*+++ Color palette +++*/
/* top content-block background-color */
/*+++ width +++*/
/*width*/
/*--------------------------------------------------------------
# Reset
--------------------------------------------------------------*/
/*====== RESET ======*/
/*
Zarigani Design Office Reset CSS
Author:Zarigani Design Office
Author URI: https://zarigani-design-office.com
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
*/
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  font: inherit;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  text-align: left;
  text-decoration: none;
  list-style: none;
  background: none;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
  font-family: "Muli","游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", "メイリオ", sans-serif;
  /*font-family: "Noto Serif Japanese", "游明朝", "Yu Mincho", "游明朝体", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "メイリオ",  sans-serif;*/
  color: #000;
  background: none;
}

a {
  color: inherit;
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

/*--------------------------------------------------------------
# Universal
--------------------------------------------------------------*/
.basic-ttl {
  font-weight: bold;
  letter-spacing: 0.08em;
  font-size: 2.4rem;
  line-height: 1.2;
  margin: 0 auto 24px;
}

.basic-ttl:after {
  content: '';
  display: block;
  width: 24px;
  height: 2px;
  background-color: #333333;
  margin-top: 24px;
}

@media (min-width: 304px) {
  .post-list-ttl {
    width: 304px;
  }
}

@media (min-width: 576px) {
  .post-list-ttl {
    width: 304px;
  }
}

@media (min-width: 880px) {
  .post-list-ttl {
    width: 608px;
  }
}

@media (min-width: 1184px) {
  .post-list-ttl {
    width: 912px;
  }
}

@media screen and (max-width: 768px) {
  .post-list-ttl {
    padding-left: 16px;
  }
}

@media (min-width: 610px) and (max-width: 768px) {
  .post-list-ttl {
    width: 608px;
  }
}

.basic-text {
  letter-spacing: 0.01em;
  font-size: 1.4rem;
  line-height: 2;
}

.basic-link {
  display: inline-block;
  padding-bottom: 2px;
  font-size: 1.4rem;
  font-weight: bold;
  border-bottom: 1px solid #333333;
  letter-spacing: 0.06em;
}

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
@media screen and (min-width: 769px) {
  .site-content {
    margin-left: 208px;
    overflow: hidden;
  }
}

@media screen and (min-width: 769px) {
  .site-footer {
    margin-left: 208px;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
/*Humberger menu*/
.drawer-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9998;
  background-color: rgba(51, 51, 51, 0.5);
  visibility: hidden;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media screen and (max-width: 768px) {
  .drawer-bg.show {
    visibility: visible;
    opacity: 1;
  }
}

.drawer-button {
  background: none;
  border: none;
  padding: 0;
  width: 42px;
  letter-spacing: 0.1em;
  cursor: pointer;
  position: fixed;
  top: 8px;
  right: 24px;
  z-index: 10000;
  text-align: center;
  outline: none;
}

@media screen and (min-width: 769px) {
  .drawer-button {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .drawer-button {
    display: block;
  }
}

.drawer-button.active .drawer-bar {
  width: 49px;
}

.drawer-button.active .drawer-bar1 {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.drawer-button.active .drawer-bar2 {
  opacity: 0;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.drawer-button.active .drawer-bar3 {
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.drawer-button.active .drawer-menu-text {
  display: none;
}

.drawer-button.active .drawer-close {
  display: block;
}

.drawer-bar {
  display: block;
  height: 2px;
  margin: 10px 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  background-color: #505050;
}

.drawer-text {
  text-align: center;
  font-size: 1.1rem;
  letter-spacing: 0.3em;
}

.drawer-close {
  text-indent: -0.4em;
  display: none;
}

.drawer-menu-text {
  display: block;
  color: #505050;
}

.site-header {
  position: fixed;
  z-index: 9999;
}

@media screen and (min-width: 769px) {
  .site-header {
    background-color: #FFF;
    width: 208px;
    height: 100%;
    padding: 48px 32px;
    left: 0;
    top: 0;
    border-right: 1px solid #E3E3E3;
  }
}

@media screen and (max-width: 768px) {
  .site-header {
    background-color: transparent;
    left: 0;
    top: 0;
    width: 100%;
    visibility: hidden;
  }
}

@media screen and (min-width: 769px) {
  .site-branding {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 768px) {
  .site-branding {
    height: 80px;
    padding: 16px 24px;
    border-bottom: 1px solid #E3E3E3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.custom-logo {
  width: 144px;
  height: auto;
}

@media screen and (max-width: 768px) {
  .custom-logo {
    max-width: 200px;
    width: auto;
    height: auto;
    max-height: 48px;
  }
}

@media screen and (min-width: 769px) {
  .menu-toggle {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .main-navigation {
    width: 100%;
    visibility: hidden;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 0;
  }
  .main-navigation.open {
    visibility: visible;
    opacity: 1;
    background-color: #FFF;
  }
}

.menu-item {
  color: #333333;
  font-family: 'Muli';
}

@media screen and (min-width: 769px) {
  .menu-item {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 768px) {
  .menu-item {
    font-size: 1.3rem;
    font-weight: bold;
    border-bottom: 1px solid #E3E3E3;
  }
  .menu-item a {
    display: block;
    width: 100%;
    height: 48px;
    padding: 0 24px;
    line-height: 48px;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer {
  background-color: #FFFFFF;
  border-top: 1px solid #E3E3E3;
}

@media screen and (min-width: 769px) {
  .site-footer {
    padding: 40px 48px 40px 48px;
  }
}

@media screen and (max-width: 768px) {
  .site-footer {
    padding: 24px;
  }
}

@media screen and (min-width: 769px) {
  .footer-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: 1fr 56px;
        grid-template-rows: 1fr 56px;
  }
}

@media screen and (min-width: 769px) {
  .footer-logo {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    padding-bottom: 16px;
  }
  .footer-logo img {
    width: 224px;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .footer-logo {
    margin-bottom: 16px;
  }
}

.footer-company {
  letter-spacing: 0.08em;
}

@media screen and (min-width: 769px) {
  .footer-company {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    font-size: 1.3rem;
    line-height: 1.53846;
  }
}

@media screen and (max-width: 768px) {
  .footer-company {
    font-size: 1.3rem;
    line-height: 1.4;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 769px) {
  .footter-sns-area {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    grid-auto-rows: 1/2;
  }
}

.sns-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 769px) {
  .sns-list {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .sns-list li {
    margin: 0 12px;
  }
  .sns-list li:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .sns-list li {
    margin-right: 16px;
  }
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  -webkit-clip-path: none;
          clip-path: none;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */
}

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

table {
  margin: 0 0 1.5em;
  width: 100%;
}

.wysiwyg {
  letter-spacing: 0.01em;
  font-size: 1.4rem;
  line-height: 2;
  /*Gutenberg*/
  /*old editor*/
  /*Slick gutenberg*/
}

.wysiwyg h1, .wysiwyg h2 {
  font-weight: bold;
  letter-spacing: 0.08em;
  font-size: 2.4rem;
  line-height: 1.2;
  margin-top: 1.5em;
  margin-bottom: 24px;
}

.wysiwyg h1:after, .wysiwyg h2:after {
  content: '';
  display: block;
  width: 24px;
  height: 2px;
  background-color: #333333;
  margin-top: 24px;
}

.wysiwyg h3 {
  font-weight: bold;
  font-size: 2rem;
  margin-top: 1.2em;
  margin-bottom: 1em;
}

.wysiwyg h4 {
  font-weight: bold;
  font-size: 1.8rem;
  margin-bottom: 1em;
}

.wysiwyg h5 {
  font-weight: bold;
  font-size: 1.6rem;
  margin-bottom: 1em;
}

.wysiwyg h6 {
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 1em;
}

.wysiwyg p {
  letter-spacing: 0.01em;
  font-size: 1.4rem;
  line-height: 2;
  margin-bottom: 1em;
}

.wysiwyg ul, .wysiwyg ol {
  margin-bottom: 1em;
}

.wysiwyg ul li {
  list-style: circle;
  margin-left: 1em;
}

.wysiwyg ol li {
  list-style: decimal;
  margin-left: 1em;
}

.wysiwyg a {
  text-decoration: underline;
}

.wysiwyg blockquote {
  background-color: #E3E3E3;
  padding: 16px;
  margin-bottom: 1em;
}

.wysiwyg blockquote p:last-child {
  margin-bottom: 0;
}

.wysiwyg hr {
  background: #E3E3E3;
  margin: 2em 0px;
}

.wysiwyg pre {
  margin-bottom: 1em;
}

.wysiwyg .wp-block-gallery {
  margin: 0 0 56px;
}

.wysiwyg .wp-block-columns {
  margin-bottom: 1em;
}

@media screen and (max-width: 768px) {
  .wysiwyg .wp-block-columns {
    display: block;
  }
}

.wysiwyg .wp-block-column:first-child {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

@media screen and (min-width: 769px) {
  .wysiwyg .wp-block-column:first-child {
    margin-right: 56px;
  }
}

.wysiwyg .wp-block-column:last-child {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.wysiwyg .wp-block-image {
  width: 100%;
  margin-bottom: 1em;
}

.wysiwyg .wp-block-image img {
  max-width: 100%;
  height: auto;
}

.wysiwyg .has-larger-font-size {
  font-size: 2.8rem;
}

.wysiwyg .has-large-font-size {
  font-size: 2.0rem;
}

.wysiwyg .has-small-font-size {
  font-size: 1.2rem;
}

.wysiwyg .wp-block-button .wp-block-button__link {
  border-radius: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.wysiwyg .wp-block-button .wp-block-button__link:hover {
  opacity: 0.6;
}

.wysiwyg .gallery {
  margin: 0 0 56px;
}

@media screen and (min-width: 769px) {
  .wysiwyg .slick-slider {
    width: calc(100vw - 208px);
    margin-right: calc(50% - 50vw);
    margin-left: calc(50% - 50vw + 104px);
  }
}

@media screen and (max-width: 768px) {
  .wysiwyg .slick-slider {
    margin-right: calc(50% - 50vw);
    margin-left: calc(50% - 50vw);
  }
}

.wysiwyg .slick-slider .blocks-gallery-item {
  margin: 0;
  display: block;
}

.wysiwyg .slick-slider .slick-slide img {
  width: 100%;
  height: auto;
}

.wysiwyg .slick-slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 2;
}

.wysiwyg .slick-slider .slick-arrow.slick-prev {
  left: 16px;
}

.wysiwyg .slick-slider .slick-arrow.slick-next {
  right: 16px;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  display: inline-block;
  border: 1px solid #333333;
  padding: 8px 24px;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  background-color: #333333;
  color: #FFF;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
  background-color: #333333;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  border: 1px solid #E3E3E3;
  width: 100%;
  padding: 4px 8px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  color: #E3E3E3;
}

select {
  border: 1px solid #E3E3E3;
}

/*textarea {
	width: 100%;
}


input[type="text"],input[type="email"],input[type="tel"],input[type="url"],input[type="password"],input[type="datetime"],input[type="date"],,input[type="datetime-local"],input[type="month"],input[type="week"],input[type="time"],input[type="number"],textarea{

}*/
/*--------------------------------------------------------------
# Front page
--------------------------------------------------------------*/
.top-slider-wrapper {
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: -1;
}

@media screen and (min-width: 769px) {
  .top-slider-wrapper {
    width: calc(100% - 208px);
    left: 208px;
  }
}

@media screen and (max-width: 768px) {
  .top-slider-wrapper {
    width: 100%;
  }
}

.top-slider {
  height: 100vh;
}

.top-slider-image {
  height: 100vh !important;
}

.top-slider-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.top-content-wrapper {
  background-color: #FFF;
  padding: 0px 0 80px;
  margin-top: 100vh;
}

@media screen and (min-width: 769px) {
  .top-content-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

.top-content-block:nth-of-type(2n) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media screen and (max-width: 768px) {
  .top-content-block {
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 769px) {
  .top-content-block-img {
    width: 52vw;
    overflow: hidden;
  }
}

.top-content-block-img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 769px) {
  .top-content-block-text {
    width: calc(100% - 52vw);
    padding: 40px 48px;
    background-color: #FFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .top-content-block-text:last-of-type {
    border-bottom: 1px solid #E3E3E3;
  }
}

@media screen and (max-width: 768px) {
  .top-content-block-text {
    padding: 24px;
  }
}

@media screen and (min-width: 769px) {
  .top-content-block-p {
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 768px) {
  .top-content-block-p {
    margin-bottom: 8px;
  }
}

.top-content-block-news-list li {
  font-size: 1.3rem;
  line-height: 1.84615;
}

@media screen and (min-width: 769px) {
  .top-content-block-news-list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 768px) {
  .top-content-block-news-list li {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 769px) {
  .top-news-time {
    width: 100px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 768px) {
  .top-news-time {
    display: block;
    margin-bottom: 4px;
  }
}

@media screen and (min-width: 769px) {
  .top-news-time-link {
    display: inline-block;
    width: calc(100% - 112px);
  }
}

@media screen and (max-width: 768px) {
  .top-news-time-link {
    display: block;
  }
}

@media screen and (min-width: 769px) {
  .top-content-block-contact-wrapper {
    width: 640px;
    margin: 72px auto 0;
  }
}

@media screen and (max-width: 768px) {
  .top-content-block-contact-wrapper {
    margin-top: 72px;
    padding: 24px;
  }
}

.top-contact-welcome {
  text-align: center;
  margin-bottom: 32px;
}

@media screen and (min-width: 769px) {
  .top-contact-welcome {
    font-size: 1.8rem;
    font-weight: bold;
  }
}

@media screen and (max-width: 768px) {
  .top-contact-welcome {
    font-size: 1.6rem;
  }
}

.top-content-block-contact {
  font-size: 1.3rem;
  line-height: 1.84615;
}

.top-content-block-contact p {
  margin-bottom: 16px;
}

/*--------------------------------------------------------------
# Page
--------------------------------------------------------------*/
.page-main {
  margin-top: 64px;
  min-height: 60vh;
}

.page-ttl {
  font-size: 2.8rem;
  font-weight: bold;
  border-bottom: 1px solid #E3E3E3;
  margin: 0 auto 40px;
  padding: 0 16px 24px;
  max-width: 912px;
}

@media screen and (max-width: 768px) {
  .page-ttl {
    padding: 0 24px 24px;
  }
}

.page-header-image {
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: -1;
}

@media screen and (min-width: 769px) {
  .page-header-image {
    width: calc(100% - 208px);
    left: 208px;
  }
}

.page-header-image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

@media screen and (min-width: 769px) {
  .page-header-image img {
    height: 400px;
  }
}

.page-header {
  width: auto;
  margin: 0 auto;
}

.ttl-404 {
  font-size: 1.6rem;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
@media screen and (min-width: 769px) {
  .about-section {
    width: auto;
    padding: 0 16px;
    margin: 0 auto 72px;
  }
}

@media screen and (max-width: 768px) {
  .about-section {
    margin: 0 24px 72px;
  }
}

@media screen and (min-width: 769px) {
  .about-section.about-about-us .about-section-block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media screen and (min-width: 769px) {
  .about-section-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 769px) {
  .about-section-text {
    width: calc(100% - 256px);
  }
}

@media screen and (min-width: 769px) {
  .about-section-image {
    width: 240px;
    height: 240px;
  }
  .about-section-image img {
    width: 240px;
    height: 240px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media screen and (max-width: 768px) {
  .about-section-image {
    margin-bottom: 16px;
  }
  .about-section-image img {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 769px) {
  .about-section-company-info-wrapper {
    width: calc(100% - 488px);
    table-layout: fixed;
  }
}

@media screen and (min-width: 769px) {
  .about-section-company-info-list th {
    padding-right: 16px;
    width: 25%;
  }
  .about-section-company-info-list th, .about-section-company-info-list td {
    font-size: 1.4rem;
    line-height: 1.6;
    letter-spacing: 0.01em;
    padding-bottom: 8px;
    vertical-align: top;
  }
}

@media screen and (max-width: 768px) {
  .about-section-company-info-list table, .about-section-company-info-list tbody {
    display: block;
  }
  .about-section-company-info-list th, .about-section-company-info-list td {
    display: block;
    font-size: 1.4rem;
    line-height: 1.6;
  }
  .about-section-company-info-list th {
    margin-bottom: 8px;
  }
  .about-section-company-info-list td {
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 769px) {
  .about-section-company-map {
    width: 472px;
    height: 336px;
  }
  .about-section-company-map iframe {
    width: 472px;
    height: 336px;
  }
}

@media screen and (max-width: 768px) {
  .about-section-company-map {
    width: 100%;
    height: 240px;
  }
  .about-section-company-map iframe {
    width: 100%;
    height: 240px;
  }
}

/*--------------------------------------------------------------
# Archive
--------------------------------------------------------------*/
.post-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 32px auto;
}

@media (min-width: 304px) {
  .post-lists {
    width: 304px;
  }
}

@media (min-width: 576px) {
  .post-lists {
    width: 304px;
  }
}

@media (min-width: 880px) {
  .post-lists {
    width: 608px;
  }
}

@media (min-width: 1184px) {
  .post-lists {
    width: 912px;
  }
}

@media screen and (min-width: 769px) {
  .post-lists {
    -webkit-transform: translateX(-16px);
            transform: translateX(-16px);
  }
}

.post-lists .hentry {
  width: 272px;
  margin: 0 16px 40px;
}

@media (min-width: 610px) and (max-width: 768px) {
  .post-lists {
    width: 608px;
  }
}

.entry-thumb {
  width: 272px;
  height: 181px;
  margin-bottom: 8px;
  -o-object-fit: cover;
     object-fit: cover;
}

.entry-thumb img {
  width: 100%;
  height: auto;
}

.entry-title {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.28571;
  color: #333333;
}

/*news archive list*/
.news-list-ttl {
  padding: 0 16px;
  max-width: 912px;
}

.post-news-lists {
  margin: 32px auto 64px;
  padding: 0 16px;
}

@media screen and (min-width: 769px) {
  .post-news-lists {
    max-width: 912px;
  }
}

.post-news-lists li {
  padding: 8px 0;
  border-bottom: 1px solid #E3E3E3;
}

.post-news-lists li:first-child {
  border-top: 1px solid #E3E3E3;
}

.post-news-lists a {
  display: block;
  font-size: 1.4rem;
  line-height: 1.5;
  padding: 8px;
}

/*--------------------------------------------------------------
# Single
--------------------------------------------------------------*/
.single-main {
  margin-top: 64px;
}

@media screen and (min-width: 769px) {
  .entry-content {
    max-width: 912px;
    padding: 0 16px;
    margin: 0 auto 56px;
  }
}

@media screen and (max-width: 768px) {
  .entry-content {
    padding: 0 24px;
    margin: 0 auto 40px;
  }
}

.page-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-links > a, .page-links > span {
  display: inline-block;
  width: 16px;
  padding-bottom: 2px;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px solid #333333;
  letter-spacing: 0.06em;
  margin: 0 8px;
  color: #333333;
}

.page-links > a .page-links-num {
  color: #333333;
}

.page-links > .page-links-num {
  color: #A7A7A7;
  border-color: transparent;
}

.nav-links {
  margin: 0 auto 32px;
}

@media screen and (min-width: 769px) {
  .nav-links {
    max-width: 912px;
    padding: 0 16px;
  }
}

@media screen and (max-width: 768px) {
  .nav-links {
    padding: 0 24px;
  }
}

.nav-links:after {
  content: "";
  clear: both;
  display: block;
}

.nav-links a {
  display: inline-block;
  padding-bottom: 2px;
  font-size: 1.4rem;
  font-weight: bold;
  background-color: #FFF;
  border-bottom: 1px solid #333333;
  letter-spacing: 0.06em;
}

.nav-previous {
  position: relative;
  overflow: hidden;
  margin-bottom: 16px;
}

.nav-previous a:before {
  content: '\2002';
  display: inline-block;
  width: 8px;
  height: auto;
  margin-right: 8px;
  background-image: url("./img/arrow_bk_s.png");
  background-repeat: no-repeat;
  background-size: auto 14px;
  background-position: 0 50%;
}

@media screen and (min-width: 769px) {
  .nav-previous {
    width: 60%;
  }
  .nav-previous a:after {
    content: '';
    display: inline-block;
    width: 100%;
    position: absolute;
    top: 50%;
    z-index: -1;
    margin-left: 16px;
    display: inline-block;
    border-bottom: 1px solid #E3E3E3;
  }
}

.nav-next {
  text-align: right;
  position: relative;
  overflow: hidden;
  float: right;
}

.nav-next a:after {
  content: '\2002';
  display: inline-block;
  width: 8px;
  height: auto;
  margin-left: 8px;
  background-image: url("./img/arrow_bk_s.png");
  background-repeat: no-repeat;
  background-size: auto 14px;
  background-position: 0 50%;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

@media screen and (min-width: 769px) {
  .nav-next {
    width: 60%;
  }
  .nav-next a:before {
    content: '';
    display: inline-block;
    width: 100%;
    position: absolute;
    top: 50%;
    z-index: -1;
    margin-left: calc(-100% - 16px);
    display: inline-block;
    border-bottom: 1px solid #E3E3E3;
  }
}

@media screen and (min-width: 769px) {
  .other-articles-wrapper {
    max-width: 912px;
    padding: 0 16px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .other-articles-wrapper {
    padding: 0 24px;
  }
}

/*--------------------------------------------------------------
# Comments
--------------------------------------------------------------*/
.comments-area {
  font-size: 1.3rem;
  margin: 0 auto 48px;
}

@media screen and (min-width: 769px) {
  .comments-area {
    max-width: 912px;
    padding: 0 16px;
  }
}

@media screen and (max-width: 768px) {
  .comments-area {
    padding: 0 24px;
  }
}

.comments-area label[for="comment"] {
  display: block;
}

.comments-area p {
  margin-bottom: 1em;
}

.comments-area textarea, .comments-area input[type="text"], .comments-area input[type="email"], .comments-area input[type="url"] {
  width: 100%;
  border: 1px solid #A7A7A7;
  padding: 8px 4px;
}

.comments-area .form-submit {
  margin-top: 32px;
}

.comments-title {
  margin-bottom: 16px;
}

.comment-body {
  margin-bottom: 16px;
}

.comment-author {
  margin-bottom: 8px;
}

.comment-metadata {
  margin-bottom: 8px;
}

.comment-content {
  font-size: 1.4rem;
  line-height: 1.8;
}

.comment-reply-title {
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 1.4rem;
}

.comment-reply-link, .form-submit input[type="submit"] {
  display: inline-block;
  border: 1px solid #333333;
  padding: 8px 24px;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.comment-reply-link:hover, .form-submit input[type="submit"]:hover {
  background-color: #333333;
  color: #FFF;
}

.comment-list li {
  margin-bottom: 32px;
}

.comment-list .children {
  padding-left: 24px;
  border-left: 1px solid #E3E3E3;
}

/*--------------------------------------------------------------
# Slick
--------------------------------------------------------------*/
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-arrow {
  background-image: url("./img/arrow.svg");
  background-size: 18px;
  background-repeat: no-repeat;
  width: 18px;
  height: 34px;
  cursor: pointer;
}

.slick-arrow.slick-next {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

/*dot*/
.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: absolute;
  bottom: 16px;
}

.slick-dots li {
  width: 8px;
  height: 8px;
  display: inline-block;
  margin: 0 8px;
}

.slick-dots li.slick-active button {
  background-color: #A7A7A7;
}

.slick-dots button {
  padding: 0;
  border: none;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #FFF;
  text-indent: -9999px;
}
